
    <header class="masthead" style="background-image:url('assets/intro-bg.jpg');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Digitalización de planos</h1>
                        <p class="intro-text">Una forma organizada y eficiente de compartir diseños<br>Confiabilidad y eficencia</p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Ver todos los diseños</h2>
                    <%= link_to "Ingresar", new_user_session_url, class: 'btn btn-primary' %>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="container text-center">
            <p>Biodiversidad Industrial S.A. de C.V ©&nbsp; 2022</p>
        </div>
    </footer>
