.gradient-custom-2 {
  /* fallback for old browsers */
  background: #326cac;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1), rgba(34, 79, 128, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: radial-gradient(circle, rgba(255, 255, 255, 1), rgba(34, 79, 128, 1));
}
