.gradient-custom-2 {
    /* fallback for old browsers */
    background: #326cac;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1), rgba(34, 79, 128, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: radial-gradient(circle, rgba(255, 255, 255, 1), rgba(34, 79, 128, 1));
}

.sizebtn {
    font-size: .75rem;
}

div#carousel {
    perspective: 1200px;
    background: #000000;
    padding-top: 10%;
    font-size: 0;
    margin-bottom: 3rem;
    overflow: hidden;
}

figure#spinner {
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
}

figure#spinner img {
    width: 40%;
    max-width: 400px;
    position: absolute;
    left: 30%;
    transform-origin: 50% 50% -500px;
    outline: 1px solid transparent;
}

figure#spinner img:nth-child(1) {
    transform: rotateY(0deg);
}

figure#spinner img:nth-child(2) {
    transform: rotateY(-45deg);
}

figure#spinner img:nth-child(3) {
    transform: rotateY(-90deg);
}

figure#spinner img:nth-child(4) {
    transform: rotateY(-135deg);
}

figure#spinner img:nth-child(5) {
    transform: rotateY(-180deg);
}

figure#spinner img:nth-child(6) {
    transform: rotateY(-225deg);
}

figure#spinner img:nth-child(7) {
    transform: rotateY(-270deg);
}

figure#spinner img:nth-child(8) {
    transform: rotateY(-315deg);
}

div#carousel~span {
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0;
}

div#carousel~span:hover {
    color: #888;
    cursor: pointer;
}

.back {
    background: -webkit-linear-gradient(#414142, #326cac);
    background: -o-linear-gradient(#414142, #326cac);
    background: -moz-linear-gradient(#414142, #326cac);
    background: linear-gradient(#414142, #326cac);
    min-height: 100%;
}

.capital:first-letter {
    float: left;
    font-size: 60px;
    line-height: 53px;
    padding: 0 3px 0 0;
    text-transform: capitalize;
}

@media screen and (max-width: 991px) {
    /* Aquí van los estilos para tablets grandes */
    .hide {
        visibility: hidden;
    }
    .none {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /* Aquí van los estilos para tablets medianas */
    .hide {
        visibility: hidden;
    }
}

@media screen and (max-width: 479px) {
    /* Aquí van los estilos para smartphones */
    .hide {
        visibility: hidden;
    }
}

.pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: grid;
    place-items: center;
    visibility: hidden;
}

.pop .pop-img {
    display: grid;
    place-items: center;
    margin: 20px;
}

.pop .pop-img img {
    width: clamp(1em, 100%, 40em);
}

.pop.open {
    visibility: visible;
}